
<a href="/home">Home</a>
<h2>Create User</h2>
<body>
  <form action="/user/create" method="post">
    UserName: <input type="text" name="username" id="username">
    Password: <input type="password" name="password" id="password">
    <input type="submit">
  </form>
</body>

