<body>
    <a href="/home">Home</a>
    <h2>Error: {{code}}</h2>
    <p>Message: {{msg}}</p>
    <p></p>
    <img width="300" src="https://i.kym-cdn.com/entries/icons/facebook/000/043/047/sad_emoji_meme.jpg" alt="Frowning Face">
</body>