<a href="/home">Home</a>
<h2>Get User</h2>
    <form action="/user/" method="get" onsubmit="location.href = this.action + this.userId.value; return false">
        <input type="text" name="userId" id="userId" placeholder="Insert a User Id" required>
        <button type="submit">Go</button>
    </form>


<body>
    <h2>Create User</h2>
    <p>You don't have an account? Create One</p>
    <body>
      <form action="/user" method="post">
        Id: <input type="text" name="id" id="id" required>
        Name: <input type="text" name="name" id="name" required>
        <input type="submit">
      </form>
    </body>
  </body>
  <p></p>

  
    