<a href="/home">Home</a>
<h2>Login</h2>
<body>
    <form action="/users/login" method="post">
        <div>
            <label>UserName:</label><input type="text" name="id" id="id" required>
            <label>Password:</label><input type="password" name="name" id="name" required>
            <button type="submit">Go</button>
        </div>
        
    </form>
</body>